EIA09-Swing/plantillas/alternativaProyEIA.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT alternativaProyEIA (nombre, listaAcciones, listaEfectos?, valorTotalAlternativa?, valorada)>
<!ELEMENT nombre (#PCDATA)>
	<!ATTLIST nombre
	generica (true|false) "false">	
<!ELEMENT listaAcciones (accion)+>
	<!ELEMENT accion (nombreAccion,listaAcciones?)>
	<!ELEMENT nombreAccion (#PCDATA)>		


